<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link rel="stylesheet" href="basics.css" type="text/css">
    <script src="vue.js"></script>
</head>
<body>
    
    <div id="inp">
        <input type="text" placeholder="Your Address 1" v-on:keyup="showInputAddress($event)" >
        <input type="text" placeholder="Your Address 2" v-on:keyup.enter.space="showInputAddress($event)" >
        <input type="text" placeholder="Your Address 3" v-model="Address" >

        <p>Hello There {{ name }},<br>
        Your provided address is <span class="address">  {{ Address }} </span>
        <p v-once> Your Address First time : {{ Address }} </p>

         <ul>
             <li><b>With Event Directive:</b>[Its changing constantly bcz there's no modifier applied on input field 1, so it changes as data in view instance changing]</li>
            <li><b>With Event Modifier Directive:</b>[Its chnaging its data on keyup of enter and spacebar as per its a key modifier applied on input 2]</li>
            <li><b>With Model Directive:</b>[Its changing its value with input 3 ]</li>
            </ul>   
        </p>
        <p><a v-bind:href="link">Random link to Google.</a></p>
        <br><br>


       <button @click="[Counter++, result()]">Increase</button>
       <button @click="[Counter--, result()]">Decrease</button>
       <button @click="hover($event)">Coordinate <span @click="dummy">Checker</span> <span @click.stop>Button</span></button>

       <br><br>

       Counter Value : {{Counter}} <br>
       X Value : {{ x }} <br>
       Y Value : {{ y }} <br> <br>


<div class="demo" @click="attachRed = !attachRed" :class="{red: attachRed}"></div>
<div class="demo" @click="attachBlue = !attachBlue" :class="{blue: attachBlue}"></div>
<div class="demo" @click="attachGreen = !attachGreen" :class="{green: attachGreen}"></div>
<div class="demo" @click="attachOrange = !attachOrange" :class="{orange: attachOrange}"></div>
<div class="demo" @click="attachRed = !attachRed" :class="color"></div><br>
Type Blue/Green/Orange/Red: <input type="text" v-model="colo"><br>
<div class="demo" :class="colo"></div><br>

    </div>


    <script src="basics.js"></script>
</body>
</html>